<div class="category-menu">
  <div *ngIf="filArianne.length > 0" class="arianne">
      <div *ngFor="let f of filArianne" (click)="goToCategory(f)"> {{ f.name }}></div>
  </div>
  <app-menu-categories *ngIf="categories != null || subCategories != null" [categories]="categories" [subCategories]="subCategories"
    (retour)="fromBack()" (currentCategory)="fetchCurrentCategory($event)"></app-menu-categories>
</div>
<app-filters *ngIf="currentCategory!= null && isChildCategory && canShowFilters" 
[criteriaList]="criteriaValues" (valueHasChanged)="sendCriterias($event)">
</app-filters>
<div class="display" *ngIf="isChildCategory && productList != null">
  <div class="result-title">Résultats : {{productList.length}} produits</div>
  <div class="result-list">
      <div *ngFor="let product of productList">
          <app-product-display  [hasReachedComparison]="numberOfComparison"
          (compareProduct)="compareProduct($event)" [category]="currentCategory" [product]="product"></app-product-display>
        </div>
  </div>
</div>
