.category-menu {
    background-color: #a6d6db; //72c0c9
    padding: 10px;
    .arianne {
        display: flex;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        div {
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: underline;
        }
    }
}
.result-list {
    display:contents;
}
