<div class="category-menu">
  <app-menu-categories *ngIf="categories != null" [categories]="categories" [subCategories]="subCategories"
    (currentCategory)="fetchCurrentCategory($event)"></app-menu-categories>
</div>
<app-filters *ngIf="currentCategory!= null && isChildCategory" 
[criteriaList]="currentCategory.criteriaList" (valueHasChanged)="reloadProducts($event)">
</app-filters>
<div class="display" *ngIf="isChildCategory && productList != null">
  <div class="result-title">Résultats : {{productList.length}} produits</div>
  <div class="result-list">
    <app-product-display *ngFor="let product of productList" [product]="product"></app-product-display>
  </div>
</div>
