image: docker:latest
services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay
  SPRING_PROFILES_ACTIVE: gitlab-ci
  FRONT_IMAGE: repo.treescale.com/deblocka/ctfront
  BACK_IMAGE: repo.treescale.com/deblocka/back

stages:
  - build
  - images
  - deploy

back-build:
  image: maven:3-jdk-8
  stage: build
  before_script: ['cd Back']
  script: "mvn clean install"
  artifacts:
    paths:
      - Back/target/*.jar

front-build:
  image: trion/ng-cli
  stage: build
  before_script: ['cd Front/compare-tout']
  script: "npm install && ng build --prod"
  artifacts:
    paths:
      - Front/compare-tout/dist/*

front-push-image:
  stage: images
  before_script: ['cd Front/compare-tout']
  script:
  - echo $TREESCALE_PASS | docker login repo.treescale.com --username=deblocka --password-stdin
  - docker build -t $FRONT_IMAGE .
  - docker push $FRONT_IMAGE

back-push-image:
  stage: images
  before_script: ['cd Back']
  script:
  - echo $TREESCALE_PASS | docker login repo.treescale.com --username=deblocka --password-stdin
  - docker build -t $BACK_IMAGE .
  - docker push $BACK_IMAGE

deploy:
  image: rastasheep/ubuntu-sshd
  stage: deploy
  script:
  - ssh -i $PROD_PEM -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ec2-user@ec2-18-188-123-185.us-east-2.compute.amazonaws.com './start_project'

