image: docker:latest
services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay
  SPRING_PROFILES_ACTIVE: gitlab-ci
  FRONT_IMAGE: repo.treescale.com/deblocka/ctfront
  BACK_IMAGE: repo.treescale.com/deblocka/back
  PROD_SERVER_ADDRESS: ec2-user@18.190.104.245
  DEV_SERVER_ADDRESS: ec2-user@18.190.29.156
  BACK_DIR: Back
  FRONT_DIR: Front/compare-tout

stages:
  - build
  - images
  - deploy

back-build:
  image: maven:3-jdk-8
  stage: build
  before_script: ['cd $BACK_DIR']
  script: "mvn clean install -DskipTests"
  artifacts:
    paths:
      - $BACK_DIR/target/*.jar

front-build:
  image: trion/ng-cli
  stage: build
  before_script: ['cd Front/compare-tout']
  script: "npm install && ng build --prod"
  artifacts:
    paths:
      - $FRONT_DIR/dist/*

front-push-image:
  stage: images
  before_script: ['cd $FRONT_DIR']
  script:
  - echo $TREESCALE_PASS | docker login repo.treescale.com --username=deblocka --password-stdin	
  - docker build -t $FRONT_IMAGE .
  - docker push $FRONT_IMAGE

back-push-image:
  stage: images
  before_script: ['cd $BACK_DIR']
  script:
  - echo $TREESCALE_PASS | docker login repo.treescale.com --username=deblocka --password-stdin	
  - docker build -t $BACK_IMAGE .
  - docker push $BACK_IMAGE

deploy-prod:
  image: rastasheep/ubuntu-sshd
  stage: deploy
  script:
  - chmod 600 ../comparetout.tmp/PROD_PEM
  - ssh -i $PROD_PEM -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null $PROD_SERVER_ADDRESS './start_project'
  only:
  - master

deploy-dev:
  image: rastasheep/ubuntu-sshd
  stage: deploy
  script:
  - chmod 600 ../comparetout.tmp/PROD_PEM
  - ssh -i $PROD_PEM -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null $DEV_SERVER_ADDRESS './start_project'
  only:
  - develop
