image: docker:latest
services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay
  SPRING_PROFILES_ACTIVE: gitlab-ci
  FRONT_IMAGE: registry.heroku.com/compare-tout/web
  DIST_DIR: dist/compare-tout

stages:
  - build
  - package
  - deploy

back-build:
  image: maven:3-jdk-8
  stage: build
  script: "cd Back && mvn clean install"
  artifacts:
    paths:
      - Back/target/*.jar

front-build:
  image: trion/ng-cli
  stage: build
  script: "cd Front/compare-tout && npm install && ng build --prod"
  artifacts:
    paths:
      - Front/compare-tout/dist/*

front-deploy:
  stage: deploy
  before_script: ['cd Front/compare-tout']
  script:
  - docker build -t $IMAGE -f Dockerfile.front .
  - docker login --username=_ --password=$HEROKU_API_KEY registry.heroku.com
  - docker push $IMAGE
  - IMAGE_ID=$(docker inspect ${IMAGE} --format={{.Id}})
  - apk add curl
  - >
    curl -Ssl -X PATCH https://api.heroku.com/apps/compare-tout
    -d "{ \"updates\": [ {
      \"type\": \"front\",
      \"docker_image\": \"${IMAGE_ID}\" } ] }"
    -H "Content-Type: application/json"
    -H "Authorization: Bearer ${HEROKU_API_KEY}"
    -H "Accept: application/vnd.heroku+json; version=3.docker-releases"