.category-list {
    display:flex;
    padding: 0 20px;
    justify-content: space-around;
    font-size: 16px;
    .subcategory-list {
        display: block;
        font-size: 12px;
    }
}

