<div  class="category-list">
        <div *ngIf="!isTopCategory" class="back" (click)="goBack()"> Retour </div> 
    <div *ngFor="let category of categoriesDisplay">
        <div class="category-title" 
        (click)="goToSubcategory(category)"><img src="{{category.image}}"> {{ category.name }}</div>
    </div>
    <div class="subcategory-list">
        <div *ngFor="let sub of subCategories">
            <div (click)="goToSubcategory(sub)"> {{ sub.name }}</div>
        </div>
    </div>
</div>
