.category-list {
    width:100%;
    font-size: 16px;
    cursor: pointer;
    .main-list {
        display:flex;
        flex-wrap: wrap;

    }
    .back {
        color: #0700a0;
        font-size:12px;
        text-decoration: underline;
    }
    .subcategory-list {
        font-size: 12px;
    }
    .category-title {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 40vw;
        padding: 10px;
        align-content: center;
        vertical-align: middle;
        img{
            margin-right:5px;
            height: 20px;
        }
    }
}

