.category-list {
    width:100%;
    font-size: 16px;
    cursor: pointer;
    .main-list {
        display:flex;
        flex-wrap: wrap;

    }
    #back, #more {
        margin-top:5px;
        padding: 5px !important;
        line-height: 10px;
        display: flex;
        background-color: white;
        .back-text {
            padding-top:5px;
        }
    }
    .subcategory-list {
        font-size: 12px;
        line-height: 20px;
    }
    .category-title {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 40vw;
        padding: 10px;
        align-content: center;
        vertical-align: middle;
        img{
            margin-right:5px;
            height: 20px;
        }
    }
}

