.category-list {
    width:100%;
    font-size: 16px;
    cursor: pointer;
    .main-list {
        display:flex;
        flex-wrap: wrap;

    }
    .back {
        color: #a6d6db;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        padding: 8px;
        border-radius: 5px;
        width: fit-content;
        background-color: white;
        margin-top: 10px;
    }
    .subcategory-list {
        font-size: 12px;
        line-height: 20px;
    }
    .category-title {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 40vw;
        padding: 10px;
        align-content: center;
        vertical-align: middle;
        img{
            margin-right:5px;
            height: 20px;
        }
    }
}

