.content-result {
    display: flex;
    .diplay {
        display: block;

    }
    .criterias {
        margin-right: 30px;
    }
    .result-title {
        font-size: 16px;
        font-weight: bold;
        margin-left: 10px;
    }
}