
<div *ngIf="!displayFilters" (click)="showFilters()" class="show-hide-filters">Afficher les filtres</div>
<div *ngIf="displayFilters && criteriaList != null" >
    <div class="show-hide-filters" (click)="showFilters()">Cacher les filtres</div> 
    <div *ngFor="let criteria of criteriaList">
        <div class="criteria">
            <p class="title">{{ criteria.name | uppercase }}</p>
            <div *ngFor="let value of criteria.values">
                    <app-filters-value [value]="value" [unit]="criteria.unit" (valueChecked)="updateCriteria($event)"></app-filters-value>
            </div>
        </div>
    </div>
</div>