.criteria {
    padding:10px;
    margin:10px;
    border: 1px solid gray;
    .title {
        font-size:16px;
        font-weight: bold;
        margin: 0;
    }
}
.show-hide-filters {
    font-size: 12px;
    color: gray;
    text-decoration: underline;
}