:host {
    display:flex;
}
.product-details-content {
    text-align: center;
    margin: 10px 0px;
    max-width:45%;
    .go-back {
        text-align: left;
        text-decoration: underline;
    }
    .title {
      font-size: 20px;
      line-height: 30px;
      display: flex;
      width: 82vw;
      margin-left: 20vw;
      justify-content: space-evenly;
      .seeNext {
          font-size: 14px;
          text-decoration: underline;
      }
      div {
        width: 40%;
      }
    }
  
    .description {
      font-size: 14px;
      color: #555555;
      .seeNext {
          text-decoration: underline;
      }
    }
  
    table {
      td {
          width: 35%;
          // .name {
          //   overflow: hidden;
          //   text-overflow: ellipsis;
          // }
      }
      td:first-child {
          width:30%;
          font-weight: bold;
      }
      .all-criterias:nth-child(even) {
          background-color: #d4f3f7;
      }
      .criteria-contener {
          text-align: left;
          padding: 5px;
          display: flex;
          width: 100vw;
      }
    }
  
    // .price {
    // }
  }
  