<div *ngIf="this.product" class="product-details-content">
  <div class="title" >
    <div>
        {{product.name}}
    </div>
    <div>
        {{product2.name}}
    </div>
  </div>
  <table>
    <tr>
      <div *ngFor="let crit of criteriaValues" class="all-criterias">
        <div class="criteria-contener">
          <td class="name">
            {{ crit.criteriaName | titlecase }}
          </td>
          <td>
            {{ crit.value[0] | titlecase }} {{ crit.criteriaUnit }}
          </td>
          <td>
              {{ crit.value[1] | titlecase }} {{ crit.criteriaUnit }}
            </td>
        </div>
      </div>
    </tr>
  </table>
</div>
