/* You can add global styles to this file, and also import other style files */
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}
html, body { height: 100%;}
body, h1, h2, p { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinner-wait {
  position:  fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  animation: none !important;
}

.post-scriptum {
  font-size: 10px;
  font-style: italic;
}
