.header-content {
  padding: 15px 5px;
  display:flex;
    justify-content: space-between;
    align-items: center;
    .main-title {
        font-size: 24px;
        vertical-align: middle;
        display: flex;

    }
    img {
        height: 30px;
    }
}
